@model Database_Management_System.Models.Student

@{
    ViewData["Title"] = "Details";
}

<div class="student-details-container">
    <h1 class="student-details-title">Student Details</h1>
    <h4 class="student-number">Student #@Html.DisplayFor(model => model.StudentNumber)</h4>
    <hr />
    <dl class="row student-details-list">
        <dt class="col-sm-3 student-detail-label">
            @Html.DisplayNameFor(model => model.StudentNumber)
        </dt>
        <dd class="col-sm-9 student-detail-value">
            @Html.DisplayFor(model => model.StudentNumber)
        </dd>
        <dt class="col-sm-3 student-detail-label">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class="col-sm-9 student-detail-value">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class="col-sm-3 student-detail-label">
            @Html.DisplayNameFor(model => model.ProgramName)
        </dt>
        <dd class="col-sm-9 student-detail-value">
            @Html.DisplayFor(model => model.ProgramName)
        </dd>
        <dt class="col-sm-3 student-detail-label">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class="col-sm-9 student-detail-value">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class="col-sm-3 student-detail-label">
            @Html.DisplayNameFor(model => model.StudentEmail)
        </dt>
        <dd class="col-sm-9 student-detail-value">
            @Html.DisplayFor(model => model.StudentEmail)
        </dd>
    </dl>
</div>

<div class="student-details-actions">
    <a asp-action="Edit" asp-route-id="@Model?.StudentId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
