@model IEnumerable<Database_Management_System.Models.Student>

@{
    ViewData["Title"] = "Student Page";
}

<div class="student-page-container">
    <h1 class="student-page-title">Register</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p>
            <a asp-action="Create" class="btn btn-primary student-register">Register Here</a>
        </p>
    }
    <table class="table table-striped table-hover sortable student-table">
        <thead class="student-table-head">
            <tr>
                <th>
                    <a href="#" class="student-table-link">@Html.DisplayNameFor(model => model.StudentNumber)</a>
                </th>
                <th>
                    <a href="#" class="student-table-link">@Html.DisplayNameFor(model => model.StudentName)</a>
                </th>
                <th>
                  @Html.DisplayNameFor(model => model.ProgramName)
                </th>
                <th>
                  @Html.DisplayNameFor(model => model.RegistrationDate)
                </th>
                <th class="student-table-link">
                    @Html.DisplayNameFor(model => model.StudentEmail)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProgramName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentEmail)
                    </td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td class="student-table-actions">
                            <a asp-action="Edit" asp-route-id="@item.StudentId" class="btn btn-sm btn-warning">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.StudentId" class="btn btn-sm btn-info">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.StudentId" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
