@model Database_Management_System.Models.Course

@{
    ViewData["Title"] = "Course Details";
}

<div class="course-details-container">
    <h1 class="course-details-title">Course Details</h1>
    <h4 class="course-number">Course #@Html.DisplayFor(model => model.CourseNumber)</h4>
    <hr />
    <dl class="row course-details-list">
        <dt class="col-sm-3 course-detail-label">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class="col-sm-9 course-detail-value">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class="col-sm-3 course-detail-label">
            @Html.DisplayNameFor(model => model.CourseNumber)
        </dt>
        <dd class="col-sm-9 course-detail-value">
            @Html.DisplayFor(model => model.CourseNumber)
        </dd>
        <dt class="col-sm-3 course-detail-label">
            @Html.DisplayNameFor(model => model.CourseType)
        </dt>
        <dd class="col-sm-9 course-detail-value">
            @Html.DisplayFor(model => model.CourseType)
        </dd>
        <dt class="col-sm-3 course-detail-label">
            @Html.DisplayNameFor(model => model.Coompleted)
        </dt>
        <dd class="col-sm-9 course-detail-value">
            @Html.DisplayFor(model => model.Coompleted)
        </dd>
        <dt class="col-sm-3 course-detail-label">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class="col-sm-9 course-detail-value">
            @Html.DisplayFor(model => model.Student.StudentNumber)
        </dd>
    </dl>
</div>

<div class="course-details-actions">
    <a asp-action="Edit" asp-route-id="@Model?.CourseId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
